<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="8">
          <img alt="login" src="assets/img/logo_DuocUC.png"/>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-header>
      <ion-card-title>Recuperar contraseña</ion-card-title>    
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        
        <ion-input type="email" fill="solid" label="Email"
          labelPlacement="floating" helperText="Enter a valid email" 
          errorText="Invalid email" ngModelemail></ion-input>
      </ion-item>
      <h2><a [routerLink]="['/inicio']">Iniciar sesión</a></h2>
      <ion-row>
        <ion-col>
          <ion-button id="present-alert" expand="block" [routerLink]="['/inicio']">Recuperar</ion-button>
          <ion-alert
            trigger="present-alert"
            class="custom-alert"
            header="Correo enviado correctamente"
            [buttons]="alertButtons"
          ></ion-alert>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
a