#cuenta{
  text-align: center;
  padding-bottom: 30px;
}
#img{
  height: 100px;
  width: 100px;
  border-radius: 50%; 
}
p{
  color: #1A1A1A;
  padding-top: 10px;
  font-size: large;
}
a{
  color: #1A1A1A;
  text-decoration: none;
}
.boton{
  color: #1A1A1A;
}
.nombreAPP{
  color: #1A1A1A;
}