<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="8">
          <img alt="login" src="assets/img/logo_DuocUC.png"/>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-header>
      <ion-card-title>Inicio de Sesión</ion-card-title>    
    </ion-card-header>
  
    <form [formGroup]="formlogin" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()" novalidate>
      <ion-card-content>
        <ion-item>
          <ion-label class="form-label" position="floating">Email</ion-label>
          <ion-input type="text" class="form-control" formControlName="email" requerid></ion-input>
        </ion-item>
        <div *ngIf="formlogin.get('email')?.hasError('required') && formlogin.get('email')?.touched">
          Ingrese un email o usuario
        </div>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" class="form-control" formControlName="password" requerid></ion-input>
        </ion-item>
        <div *ngIf="formlogin.get('password')?.hasError('required') && formlogin.get('password')?.touched">
          Ingrese una contraseña
        </div>
        <br>
        <p [routerLink]="['/recuperar-clave']" class="ion-text-end">¿Olvidaste tu contraseña?</p>
        <ion-row>
          <ion-col>
            <ion-button expand="block" class="submit" type="submit">
              Iniciar Sesión
              <ion-icon slot="end" name="log-in-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
