<ion-content>
    <br><br><br>
    <ion-card>

        <ion-card-header>
          <img src="assets/img/auto1.jpg" />
          <ion-card-title>Viaje a </ion-card-title>
          <ion-card-subtitle>Hacia la comuna de </ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
          <h5>Capacidad vehicular disponible: </h5>
          <h5>Horario de salida: </h5>
          <h5>Costo: $</h5>
        </ion-card-content>
    
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button class="boton" fill="clear">
                <ion-icon name="call-outline" slot="start"></ion-icon>
                Llamar
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="boton" fill="clear">
                <ion-icon name="cash-outline" slot="start"></ion-icon>
                Comprar viaje
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="btn btn-outline-danger" >
                Borrar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
    
      </ion-card>
</ion-content>