<ion-menu contentId="main-content">
  <ion-header id="container">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="8">
            <img src="assets/img/logo_DuocUC.png" alt="">
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list [inset]="true" lines="none">
      <div id="cuenta">
          <ion-label>
            <img id="img" src="assets/img/perfil.jpg" alt="">
            <p *ngIf="user">{{user.usuario}}</p>
          </ion-label>
        </div>     
      <ion-item>
        <ion-icon name="card-outline" slot="start"></ion-icon>
        <ion-label><a>Credencial Virtual</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label><a>Configuración</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        <ion-label><a>Ayuda</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="exit-outline" slot="start"></ion-icon>
        <ion-label><a [routerLink]="['/inicio']">Cerrar Sesión</a></ion-label>
      </ion-item>
    </ion-list> 
  </ion-content>
</ion-menu>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="nombreAPP">TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<div class="ion-page" id="main-content">

    <ion-router-outlet>
      <!---CONTENIDO DE LOS COMPONENTES---->
    </ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom" (ionChange)="segmentChanged($event)">
      <ion-tab-button tab="ver">
        <ion-icon name="car-outline"></ion-icon>
        Viajes
      </ion-tab-button>
      <ion-tab-button tab="agregar">
        <ion-icon name="add-circle-outline"></ion-icon>
        Agregar viaje
      </ion-tab-button>
      <ion-tab-button tab="modificar">
        <ion-icon name="grid-outline"></ion-icon>
        Mis viajes
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</div>   