#cuenta{
  text-align: center;
  padding-bottom: 30px;
}
#img{
  height: 100px;
  width: 100px;
  border-radius: 50%; 
}
a{
  color: #1A1A1A;
  text-decoration: none;
}
.nombreAPP{
  color: #1A1A1A;
}